:root {
  font-family: Poppins, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

  --bgcolor: #f3f4f6;
  --textcolor: #111827;
  --uilightest: #fff;
  --uilight: #e5e7eb;
  --uimedium: #bebebe;
  --uidark: #6b7280;
  --lightaccent: #eff6ff;
  --mediumaccent: #bfdbfe;
  --darkaccent: #60a5fa;
  --redcolor: #fca5a5;
  --yellowcolor: #fde047;
  --greencolor: #4ade80;
  --redbutton: #f87171;
}

a {
  color: var(--darkgray);
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

.card {
  padding: 2em;
}

#app {
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
